<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect bg-theme">
                <div class="card-body text-center bg-secondary-theme">
                    <h3 class="text-theme-center"> List of all Subscribers</h3>
                    <p> Manage Your Subscribers Here </p>

                    <button class="btn btn-warning ml-2" routerLink="/"> Back to Dashboard </button>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-effect">
                <div class="card-body">

                    <table class="table row-border hover">
                        <thead>
                            <tr>
                                <th> No </th>
                                <th> Name</th>
                                <th> Email </th>
                                <th> Actions </th>
                            </tr>
                        </thead>

                        <tbody *ngFor="let subscriber of subscribers; let i = index">
                            <tr>
                                <td> {{i+1}} </td>
                                <td>{{subscriber.name}}</td>
                                <td>{{subscriber.email}}</td>
                                <td>
                                    <button class="btn btn-sm btn-danger ml-2" (click)="onDelete(subscriber.id)"> Delete </button>
                                </td>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>